################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PalleShoppingApp/FileContentIndex/ff5bb4e7-1729-4681-891e-5a7928d9dd6c.vsidx
/PalleShoppingApp/PalleShoppingApp.csproj.user
/.vs/PalleShoppingApp/v17/.suo
/.vs/PalleShoppingApp/config/applicationhost.config
/.vs/PalleShoppingApp/DesignTimeBuild/.dtbcache.v2
/PalleShoppingApp/bin/Debug/net8.0/PalleShoppingApp.dll
/PalleShoppingApp/bin/Debug/net8.0/PalleShoppingApp.exe
/PalleShoppingApp/bin/Debug/net8.0/PalleShoppingApp.pdb
/PalleShoppingApp/obj/Debug/net8.0/ref/PalleShoppingApp.dll
/PalleShoppingApp/obj/Debug/net8.0/refint/PalleShoppingApp.dll
/PalleShoppingApp/obj/Debug/net8.0/PalleShoppingApp.csproj.BuildWithSkipAnalyzers
