################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PalleShoppingApp/FileContentIndex/ff5bb4e7-1729-4681-891e-5a7928d9dd6c.vsidx
/PalleShoppingApp/PalleShoppingApp.csproj.user
